@model DemoWebsite.Models.User
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div>
    <label>First Name: @Model.FirstName  @Model.LastName</label>
    <br />
    <label>Email: @Model.Email</label>
    <br />
    <label>Birthday: @Model.Birthday</label>
    <br />
    <label>Age: @Model.Age</label>
</div>